<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Movies App</h1>
        <p class="lead">This is a movies catalog.</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <app-slider [movies]="nowPlaying | slice:0:6"
                title="Now Playing on theaters" id="nowPlaying"></app-slider>
        </div>
        <div class="col-sm-6">
            <app-slider title="Popular for all ages"
                [movies]="populars | slice:0:6" id="populars"></app-slider>
        </div>
    </div>
</div>