<div class="card-columns m-5 animated fadeIn">
  <div *ngFor="let item of items" class="card puntero" (click)="verArtista(item)">
    <img class="card-img-top" [src]="item.images | noimage" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"> {{ item.name }} </h5>
      <p class="card-text" *ngIf="item.artists">
        <span *ngFor="let artist of item.artists" class="badge badge-dark">
          {{ artist.name }}
        </span>
      </p>
      <p class="card-text" *ngIf="item.genres">
        <span *ngFor="let genre of item.genres" class="badge badge-dark">
          {{ genre }}
        </span>
      </p>
    </div>
  </div>
</div>