<h1>
    Youtube Channel
</h1>
<hr>
<div class="card-columns" *ngIf="videos">
    <div class="card" *ngFor="let video of videos">
        <img [src]="video.thumbnails.high.url" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ video.title }}</h5>
            <button class="btn btn-outline-danger btn-block" (click)="viewVideo(video)" type="button">
                View
            </button>
        </div>
    </div>
</div>
<button type="button" (click)="loadMore()"
    class="btn btn-outline-primary btn-block">
    Load more
</button>

<div class="modal" tabindex="-1" role="dialog" id="videoModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content" *ngIf="selVideo">
            <div class="modal-header">
                <h5 class="modal-title">{{ selVideo.title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <iframe width="100%" height="300" [src]="selVideo.resourceId.videoId | videourl"
                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
            </div>
        </div>
    </div>
</div>