<h1 class="animated fadeIn fast">Acerca de Comic APP</h1>
<hr>
<p class="fadeIn">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis facere minus cupiditate, animi qui nostrum architecto velit quaerat consequuntur asperiores impedit ducimus aliquam est. Ipsa commodi consectetur odio rerum dolores. Lorem ipsum dolor sit
    amet consectetur adipisicing elit. Debitis odio voluptatum aliquam cumque ipsum at possimus molestias accusamus beatae. Magni inventore laborum enim animi, laudantium hic voluptatibus accusamus repellat non. </p>