<h1>Heroes List</h1>
<hr>
<div class="row">
    <div class="col text-right">
        <button [routerLink]="['/heroe/new']"
            type="button" class="btn btn-primary">
            <i class="fas fa-plus fa-sm fa-fw"></i>
            Add
        </button>
    </div>
</div>

<table *ngIf="!loading && heroes.length > 0"
    class="table mt-3 animated fadeIn fast">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Ability</th>
            <th scope="col">Status</th>
            <th scope="col">Tools</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let heroe of heroes; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ heroe.name }}</td>
            <td>{{ heroe.ability }}</td>
            <td>
                <span *ngIf="heroe.alive"
                    class="badge badge-success">Alive</span>
                <span *ngIf="!heroe.alive"
                    class="badge badge-danger">Death</span>
            </td>
            <td class="btn-group">
                <button [routerLink]="['/heroe', heroe.id ]"
                    type="button" class="btn btn-info">
                    <i class="fas fa-pen fa-xs fa-fw"></i>
                </button>
                <button (click)="deleteHeroe(heroe, i)"
                    type="button" class="btn btn-danger">
                    <i class="fas fa-trash fa-xs fa-fw"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>

<div *ngIf="!loading && heroes.length === 0"
    class="alert alert-warning text-center mt-3">
        <h4 class="alert-heading">There's no data</h4>
        <p>
            <i class="fas fa-exclamation fa-2x fa-fw"></i>
        </p>
    </div>

<div *ngIf="loading" class="alert alert-info text-center mt-3">
    <h4 class="alert-heading">Loading</h4>
    <p>
        <i class="fas fa-sync-alt fa-2x fa-fw fa-spin"></i>
    </p>
    <p class="mb-0">
        Please wait...
    </p>
</div>